@import "../../../../style/varable.scss";

.con-fixed{
  position: sticky;
  top: 100px;

  .control-con {
    width: 300px;
    height: auto;
    background-color: white;
    display: flex;
    border-radius: 6px;
   
    flex-direction: column;
    .list {
      width: 100%;
      padding: 15px;
      .list-item {
        list-style: none;
        display: flex;
        .list-item-link {
          padding: 15px;
          width: 100%;
  
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 154.5%;
          display: flex;
          align-items: center;
          color: #14191f;
        }
        .setState {
          padding: 15px;
          width: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 154.5%;
          background: #eef2fe;
          border-radius: 8px;
  
          color: #14191f;
        }
        svg {
          margin-right: 9px;
        }
      .profil-link{
        text-decoration: none;
        .profil-con {
          display: flex;
          align-items: center;
     
  
          .profil-img {
            position: relative;
  
            img {
              width: 55px;
              height: 55px;
              object-fit: cover;
              border-radius: 50%;
              margin-right: 5px;
            }
            .online {
              width: 15px;
              height: 15px;
              background-color: rgb(255, 255, 255);
              border-radius: 50%;
              position: absolute;
              right: 2px;
              top: 40px;
              .online-green {
                position: absolute;
                z-index: 111111111111;
                top: 2px;
                left: 2px;
                width: 8px;
                height: 8px;
                background: #11e927;
                box-shadow: 0px 3px 9px #00ff1a;
                border-radius: 50%;
              }
            }
            .online::after {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: rgba(255, 255, 255, 0);
              top: -5px;
              left: 6px;
              border-bottom-right-radius: 40px;
              box-shadow: 1px 1px 0 0 rgb(255, 255, 255);
            }
            .online::before {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: rgba(255, 0, 0, 0);
              top: 6px;
              left: -4px;
              border-bottom-right-radius: 40px;
              transform: rotate(-22deg);
              box-shadow: 1px 1px 0 0 rgb(255, 255, 255);
            }
          }
  
         .profil-text{
          line-height: 40px;
          .profil-name {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 1;
            color: #14191f;
          }
          .profil-username {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #14191f;
            opacity: 0.4;
          }
         }
        }
      }
      }
    }
  }
  
}